.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header,#footer,#content { position:absolute; right:0;left:0; background:#CCC}

#header{
   height:100px; top:0;
   background-size:cover;
   background: url("accets/header.png");
   background-size: cover;
}
#footer{
  height:50px; bottom:0;
  background-color: #89AAC6;
  opacity: 0.8;
}
#content{
  top:100px;
  bottom:50px;
  width: 100%;
  background:#DBEAF9;
  background: url("accets/bg.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='accets/bg.jpeg',     sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='accets/bg', sizingMethod='scale');
}


